
.burger-menu{
display: none;
@include mediaTablet{
    display: block;
}
}

.burger-menu__wrap{
    position: absolute;
    z-index: 11;
    top: 30px;
    right: 40px;
    cursor: pointer;
}

.burger-menu__icon{
    height: 19px;
    width: 25px;
    position: relative;
    top: 0;
    right: 0;

    & span{
        display: block;
        height: 3px;
        width: 25px;
        background-color: #fff;

        &.center-line{
            margin: 5px 0 5px 0;
        }
    }
}

.burger-menu__icon--active{
    & span{
        animation-duration: 1s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
        position: absolute;
        // animation-iteration-count: infinite;

        &.top-line{
            top: 0;
            right: 0;
            animation-name: top-line;
        }

        @keyframes top-line {
            0%{
                top: -8px;
            }
            25%{
                
                top: -18px;
            }
            50%{
                transform: rotate(25deg);
                
            }
            75%{
                transform: rotate(50deg);
            }
            100%{
                top: 8px;
                transform: rotate(50deg);
            }
            
        }

        &.bottom-line{
            bottom: 0;
            right: 0;
            animation-name: bottom-line;
        }
        @keyframes bottom-line {
            0%{
                bottom: -8px;
            }
            25%{
                bottom: -15px;
            }
            50%{
                transform: rotate(-25deg);
                
            }
            75%{
                transform: rotate(-50deg);
            }
            100%{
                bottom: 8px;
                transform: rotate(-50deg);
            }
            
        }
        &.center-line{
            margin: 0;
            top: 50%;
            transform: translate(0, -50%);
            animation-name: center-line;
        }
        @keyframes center-line {
            0%{
                right: 0;
            }
            50%{
                transform: rotate(100deg);
                right: -20px;
            }
            100%{
                transform: rotate(100deg);
                right: -20px;
                opacity: 0;
            }
            
        }
        
    }
}


.burger-menu__nav{
    transition: all 0.3s ease-in;
    transform: translate(0, -100%);
    padding-top: 50px;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $main-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 70px;
    
    & a{
        font-size: 25px;
    }
}

.burger-menu__nav--active{
    transform: translate(0, 0);
    transition: all 0.3s ease-in;
}

.burger-menu__nav-list{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
}

.burger-menu__icon--remove{
     & span{
        display: block;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
        position: absolute;
        // animation-iteration-count: infinite;

        &.top-line{
            top: 0;
            right: 0;
            animation-name: top-line;
        }

        @keyframes top-line {
            0%{
                
                top: 8px;
                transform: rotate(50deg);
            }
            25%{
                transform: rotate(50deg);
                
            }
            50%{
                transform: rotate(25deg);
                
            }
            75%{
                top: -18px;
            }
            75%{
                top: -8px;
            }
            100%{
                // top: -8px;
                position: initial;
            }
        }

        &.bottom-line{
            bottom: 0;
            right: 0;
            animation-name: bottom-line;
        }
        @keyframes bottom-line {
            0%{
                bottom: 8px;
                transform: rotate(-50deg);
            }
            25%{
                transform: rotate(-25deg);
            }
            50%{
                bottom: -15px;
            }
            75%{
                bottom: -8px;
            }
            100%{
                // bottom: -8px;
                position: initial;
            }
            
        }
        &.center-line{
            margin: 0;
            top: 50%;
            transform: translate(0, -50%);
            animation-name: center-line;
        }
        @keyframes center-line {
            0%{
                
                transform: rotate(100deg);
                right: -20px;
                opacity: 0;
            }
            50%{
                transform: rotate(100deg);
                right: -20px;
            }
            75%{
                right: 0;
            }
            100%{
                transform: translate(0, 0);
                position: initial;
                margin: 5px 0 5px 0;
            }
            
        }
        
    }
}

